{% extends 'base.html' %}
{% block content %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a
                            data-toggle="collapse"
                            data-parent="#accordion"
                            href="#collapseOne"
                            style="font-family:'华文行楷';text-align: center;"
                        >
                            
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div
                        class="panel-body"
                        ,
                        style="font-family:'华文行楷';font-size:20px;text-align: center;"
                    >
                    <!-- 关于我们 -->
                    我们是编程专注者

                    此网站建立于2020年，专注编程。这里有丰富的编程资源以及教程，让您
                    轻松自学编程。若学习时遇到问题
                    可以留言到我们的官方邮箱：625530100@qq.com
                    如果您觉得我们的教程很好，可以将此网站http://www.bianchengxiaozhan.com
                    发送给您的朋友，让更多人学编程
                    

                    </div>
                </div>
            </div>
        </div>
{% endblock content %}