<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}编程小站{% endblock %}</title>
    <!--
    
  
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	  <script src="../static/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="../static/materialize/materialize.min.js"></script>
    <link rel="stylesheet" href="../static/materialize/materialize.min.css">
    
    {% block styles %}{% endblock %}
    {% endblock head %}
  </head>
  <body background="../static/spikes.png">
    <nav class="nav-wrapper blue lighten-1">
        
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class="waves-effect waves-light"><a href="{{ url_for('index') }}"><big>个人博客</big></a></li>
          <li class="waves-effect waves-light"><a href="{{ url_for('index') }}">首页</a></li>
          <li class="waves-effect waves-light"><a href="{{ url_for('about') }}">关于</a></li>
        </ul>
    </nav>
    <!-- 内容 -->
    {% block content %}
    {% endblock content %}
  </body>
</html>
