{% extends 'base.html' %}
{% from "macros.html" import pagination %}
{% block content %}
<!--
<br>
<ul>
    
    <li><a href="/p/</a></li>
    
</ul>
-->

<div>
  {% for i in arts %}
  <div class="row">
    
    <div class="col s12">
      <div class="card orange accent-2 z-depth-5">
        <div class="card-content white-text">
          <span class="card-title"><a href="/p/{{ i[0] }}">{{ i[1] }}</a></span>
          {% if i[2] %}
          <p>{{i[2]}}<a href="/p/{{ i[0] }}">阅读全文</a></p>
          {% endif %}
        </div>
        <!--
        <div class="card-action">
          <a href="#">这是一个链接</a>
          <a href="#">这是一个链接</a>
        </div>-->
      </div>
    </div>
  </div>
  
</div>
{% endfor %}
{{ pagination(url='/', end=end, int=int, request=request) }}
  
{% endblock %}
