{% extends 'base.html' %}
{% from "macros.html" import pagination %}
{% block content %}
<!--
<br>
<ul>
    
    <li><a href="/p/</a></li>
    
</ul>
-->
<center>
  <h3>kunkun的个人博客。</h3>
  <p style="font-size: 20px;">我是一个小学生，12岁，喜欢编程。
    这是我做的第一个网站, 使用python flask框架开发。<br>
    QQ: 2749320352 <br>
    Github: https://github.com/kunkunhub <br>
    Gitee: https://gitee.com/gitkunkun
  </p>
</center>
<div>
  {% for i in arts %}
  <div class="container">
    <div>
      <div>
        <div class="card white z-depth-2">
          <div class="card-content">
            <span class="card-title"><a href="/p/{{ i[0] }}">{{ i[1] }}</a></span>
            {% if i[2] %}
            <p>{{i[2]}}<a href="/p/{{ i[0] }}">阅读全文</a></p>
            {% endif %}
          </div>
          <!--
        <div class="card-action">
          <a href="#">这是一个链接</a>
          <a href="#">这是一个链接</a>
        </div>-->
        </div>
      </div>
    </div>
  </div>

</div>
{% endfor %}
{{ pagination(url='/', end=end, int=int, request=request) }}

{% endblock %}