<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>测试</title>
    <style>
        .button {
            background-color: rgb(145, 224, 255);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h2>CSS</h2>

    <a href="{{ url_for('index') }}" class="button">返回首页</a>
</body>

</html>